.dashboard-content-container {
  width: 100%;
  height: 100%;
  /* background: cornflowerblue; */
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.dashboard-content-body {
  width: 100%;
  /* background: brown; */
  height: 100%;
}

.dashboard-coin-card-container {
  height: 70vh;
  width: 100%;
  /* background: rgb(158, 158, 62); */
  display: flex;
  justify-content: space-between;
}

.dashboard-coin-card-body {
  width: 66%;
  height: 100%;
  /* background: olivedrab; */
}

.dashboard-coin-card-holder {
  width: 100%;
  height: 90%;
  /* background: purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-coin-card-holder-up,
.dashboard-coin-card-holder-down {
  width: 100%;
  height: 49.5%;
  /* background: blue; */
  display: flex;
  justify-content: space-between;
}

.dashboard-coin-balance-h5 {
  font-size: 24px;
  color: #fff;
}

.dashboard-coin-card-up-left,
.dashboard-coin-card-up-right,
.dashboard-coin-card-down-left,
.dashboard-coin-card-down-right {
  width: 49.5%;
  height: 100%;
  border-radius: 6px;
  /* background: indigo; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-coin-card-up-left .livecoinwatch-widget-1,
.dashboard-coin-card-up-right .livecoinwatch-widget-1,
.dashboard-coin-card-down-left .livecoinwatch-widget-1,
.dashboard-coin-card-down-right .livecoinwatch-widget-1 {
  width: 100% !important;
  height: 100% !important;
}

.dashboard-coin-balance-body {
  width: 100%;
  height: 100%;
  /* background: blue; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dashboard-balance-and-profit-holder {
  width: 100%;
  /* height: 20vh; */
  /* background: red; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem;
  margin: 2rem 0;
  gap: 2rem;
}

.dashboard-coin-balance-card-up,
.dashboard-coin-balance-card-down {
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* gap: 15px;
  padding: 5px; */
  /* background: yellow; */
  border-radius: 6px;
  box-shadow: blue 0px 0px 2px 0px,
    blue 0px 5px 20px -4px;
}


.dashboard-total-deposit-wrapper-up-wrapper,
.dashboard-total-deposit-wrapper-down-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: purple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-total-deposit-wrapper-up-wrapper-icon-holder,
.dashboard-total-deposit-wrapper-down-wrapper-icon-holder {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 110% 150% 100% 120%/100% 170% 90% 130%;
  border-radius: 500rem;
  padding: 0.7rem;
}
.dashboard-total-deposit-wrapper-up-wrapper-icon-holder{
  background: #58c7c5;
}
.dashboard-total-deposit-wrapper-down-wrapper-icon-holder {
  background: #cd9948;
}

.dashboard-total-deposit-wrapper-up-wrapper-icon,
.dashboard-total-deposit-wrapper-down-wrapper-icon {
  color: #fff;
  font-size: 22px;
}

.dashboard-total-deposit-wrapper-up-wrapper-title,
.dashboard-total-deposit-wrapper-down-wrapper-title {
  width: 70%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}

.dashboard-total-deposit-wrapper-up-wrapper-title-h3,
.dashboard-total-deposit-wrapper-down-wrapper-title-h3 {
  font-weight: lighter;
  font-size: 0.91rem;
}
.dashboard-total-deposit-wrapper-up-wrapper-title-amount,
.dashboard-total-deposit-wrapper-down-wrapper-title-amount{
  font-size: 1rem;
}

.profit-calculator-container {
  width: 100%;
  margin: 2rem 0;
  /* height: 50vh; */
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.profit-calculator-body {
  width: 100%;
  /* height: 85%; */
  /* background: black; */
  /* display: flex; */
}

.profit-calculator-left-card {
  /* width: 60%; */
  height: 100%;
  /* background: yellow; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.profit-calculator-select-container {
  width: 90%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
}

.select-investment-label {
  line-height: 60px;
  font-weight: 600;
  color: blanchedalmond;
}

.select-wrapper {
  width: 100%;
  /* padding: 8px 38px 8px 16px; */
  height: 50%;
  /* overflow-y: scroll; */
  /* background: green; */
}

.select-investment-plan-select {
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 16px;
  border: 1px solid #ebf1f6;
  color: #5a6a85;
  border-radius: 7px;
}

.select-investment-plan-select option {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-size: 0.875rem;
  color: #5a6a85;
}

.profit-calculator-btn {
  width: 100%;
  height: 12%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: #2a3547;
  color: #fff;
}

.profit-calculator-right-card {
  width: 40%;
  height: 100%;
  /* background: pink; */
  border-radius: 8px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profit-calculator-right-body {
  width: 80%;
  height: 90%;
  /* background: gray; */
}

.profit-calculator-right-body-span {
  color: blanchedalmond;
}

.dashboard-recent-transaction-investment-container {
  /* width: 100%;
  height: 40vh;
  /* background: green; */
  /* display: flex;

  align-items: center;
  justify-content: space-between; */
  margin: 3rem 0;
}

.dashboard-recent-transaction-card {
  width: 32%;
  height: 70%;
  /* background: blue; */
  border-radius: 9px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-recent-transaction-body {
  width: 85%;
  height: 95%;
}

.dashboard-recent-transaction-card-title {
  font-size: 18px;
  color: blanchedalmond;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 32px;
}

.recent-transaction-ul-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.recent-transaction-ul-wrapper ul {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}

.recent-transaction-ul-span {
  width: 100%;
  font-size: 12px;
  padding-left: 20px;
  display: flex;
  color: #fff;
}

.dashboard-recent-investment {
  /* background: blue; */
  border-radius: 9px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-recent-investment-body {
  width: 93%;
  height: 95%;
}

.dashboard-recent-investment-card-title {
  font-size: 18px;
  color: whitesmoke;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 32px;
}

.investment-amount-gateway-status-profit-ul-wrapper {
  width: 100%;
  height: 80%;
  /* background: pink; */
}

.investment-amount-gateway-status-profit-ul-wrapper {
  width: 100%;
  height: 80%;
  /* background: pink; */
}

.investment-amount-gateway-status-profit-ul-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 600;
  line-height: 50px;
  height: 30%;
  color: rgb(235, 229, 221);
}

.investment-amount-gateway-status-profit-span {
  overflow-y: auto;
  padding-top: 5px;
  list-style-type: none;
  font-weight: 600;
  line-height: 50px;
  height: 65%;
  color: #fff;
}

.dashboard-stock-market-widget-wrapper {
  width: 100%;
  height: 64vh;
  /* background: green; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.dashboard-stock-market-widget-div {
  max-width: 40rem;
  min-height: 64vh;
  /* background: red; */
  overflow-y: auto;
}

.dashboard-currencyPairs-container {
  width: 100%;
  height: 50vh;
  background: gray;
}

.ReduxData {
  font-size: 30px;
  color: purple;
}




.dashboard_plan{
  width: 100%;
  padding: 20px 10px;
  background-color: rgb(58, 58, 98);
  border-radius: 5px;
}

.dashboard_plan > h3{
  color: whitesmoke;
  font-size: 20px;
}

.the_plans{
  width: 100%;
  /* background-color: red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border-top: 1px solid grey;
}
.plans{
  width: 100%;
  padding: 15px 10px;
  /* background-color: green; */
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-top: 1px solid grey;
  color: lightgrey;
}
.plans:hover{
  background-color: rgb(65, 65, 119);
  color: blue;
}
.dashboard_stock_widget{
  width: 100%;
  height: 70vh;
  /* background-color: yellow; */
  margin: 70px 0px;
  overflow: auto;
}

.chart_container{
  width: 100%;
  height: 400px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 4px;
  padding: 2rem 0px;
  overflow: auto;
}