.main{
  width: 100%;
}
.details {
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}

.header {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  background: 
    linear-gradient(to left, rgba(0, 0, 0, 0.903), rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.707)), 
    url('../assets/handshaking_photo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  z-index: 1;
}

.header-content > p{
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.primary-detail {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.8px;
  margin-bottom: 1.5rem;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content-container {
  padding: 2rem;
}

.blockquote {
  background-color: #f5f5f5;
  padding: 4rem;
  border-left: 4px solid #0a1828;
  margin: 30px 0;
}

.blockquote-detail {
  color: #0a1828;
  font-size: 2rem;
  font-weight: 600;
}

.article-container {
  margin-bottom: 4.8rem;
}

/* 

/////////////////////////////////////////////

   MEDIA QUERIES

//////////////////////////////////////////////

*/

@media screen and (max-width: 768px) {
  .primary-detail {
    font-size: 3.6rem;
  }

  .header {
    height: 35rem;
  }

  .blockquote {
    padding: 2rem;
  }
  .details {
    font-size: 1rem;
  }
  .blockquote-detail {
    font-size: 1.5rem;
  }

  /* 
  */
}

@media screen and (max-width: 425px) {
  .primary-detail {
    font-size: 2.5rem;
  }

  .header {
    height: 35rem;
  }

  .main-content-container {
    padding: 1rem;
  }

  .blockquote {
    padding: 2rem;
  }
  .details {
    font-size: 0.8rem;
  }
  .blockquote-detail {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .primary-detail {
    font-size: 2.3rem;
  }
}
