.OTP_Page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  align-items: center;
  gap: 5%;
  /* background-color: green; */
}

.OTP_Inputs {
  width: 100%;
  height: 18%;
  display: flex;
  gap: 10px;
  justify-content: center;
  /* background-color: yellow; */
}

.OTP_Inputs input {
  width: 8%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.394);
  background-color: white;
  border-radius: 5px;
  font-size: 50px;
  padding-left: 33px;
}

.Submit_Btn {
  display: block;
  width: 90%;
  /* background-color: red; */
}

.Submit_Btn button {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  background: purple;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}

.Submit_Btn span {
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.618);
}

.Resend_OTP:hover {
  transition: all 350ms e;
  color: red;
}
