@media (max-width: 575px) {
  .OTP_Page {
    gap: 5%;
    text-align: center;
  }
  .OTP_Page h1 {
    width: 70%;
    font-size: 19px;
    letter-spacing: 5px;
    line-height: 25px;
  }

  .OTP_Inputs {
    height: 8%;
    gap: 5px;
  }

  .OTP_Inputs input {
    width: 13.5%;
    color: red;
    font-size: 30px;
    padding-left: 20px;
  }

  .Submit_Btn {
    height: 10%;

    gap: 10px;
  }

  .Submit_Btn button {
    /* width: 88%; */
    height: 80%;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: monospace;
  }

  .Submit_Btn span {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.738);
  }
}
