.change-password-container {
  width: 100%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  /* align-items: center; */
  /* justify-content: center; */
}

.change-password-body {
  width: 80%;
  /* background-color: yellow; */
}

.change-password-title {
  font-size: 19px;
  font-weight: 100;
  line-height: 40px;
  color: #fff;
  /* background-color: brown; */
}

.change-password-card {
  width: 100%;
  /* height: auto; */
  /* background: yellow; */
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.402) 0px 12px 24px -4px;
}

.change-password-card-body {
  width: 100%;
  /* background: cornflowerblue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.current-password-container{
  width: 100%;
  padding: 2px;
  /* background: green; */
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: #fff;
  height: max-content;
}

.dashboard-current-password-input {
  width: 50%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  outline: none;
  border-radius: 6px;
  border: 1px solid #dfe5ef;
}

.new-confirm-password-container {
  width: 100%;
  height: auto;
  /* background: purple; */
  display: flex;
  justify-content: space-between;
}

.new-password-container,
.confirm-password-container {
  width: 49%;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-new-password-input,
.dashboard-confirm-password-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  outline: none;
  background: transparent;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #dfe5ef;
}

.change-password-btn-container{
  width: 100%;
  height: max-content;
  /* background-color: brown; */
}

.changeBtn {
  width: 30%;
  padding: 16px;
  background: rgb(79, 79, 242);
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.changeBtn:hover {
  background: rgb(110, 110, 248);
  transition: all 350ms;
}

