.register-container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #00000054;
}

.register-first-part {
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.register-first-part h1 {
  font-size: 2rem;
  font-weight: 700;
}

.register-first-part p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.signUp_Page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* background: 
    linear-gradient(to left, rgba(0, 0, 0, 0.903), rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.707)), 
    url('../../assets/starbg.jpeg'); */
  overflow: auto;
  padding-top: 100px;
}

.signUp_PageWrapper {
  width: 70%;
  /* height: 120vh; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.signUp_LogoPart {
  width: 100%;
  height: 8%;
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpCard {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpInput_Wrapper {
  width: 85%;
  height: 95%;
  /* background: lightgray; */
  border-radius: 5px;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.SignUpForm_Header {
  display: flex;
  align-items: center;
  color: #fff;
}

.signUpForm_Header p {
  color: #fff;
  font-weight: bold;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.step2 {
  color: #c48140;
}

.signUpForm_Header p:hover {
  color: rgb(197, 13, 197);
}

.signUpForm_Header span {
  font-size: 25px;
  font-weight: bold;
}

.SignUp_InputsParts {
  width: 85%;
  padding-bottom: 1rem;
  /* height: 68%; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.SignUp_Inputs_User_Email {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SignUp_Inputs_User_Email p {
  font-size: 13px;
  color: purple;
}

.SignUp_Inputs_User_Email input {
  width: 100%;
  height: 45%;
  border: none;
  outline: none;
  background: white;
  border-radius: 3px;
  padding-inline: 10px;
}

.SignUp_Inputs_User_Email article {
  width: 100%;
  display: flex;
  gap: 15px;
}

.SignUp_Inputs_User_Email article > span {
  padding-inline: 10px;
  padding-block: 4px;
  background: grey;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 11px;
}

.SignUp_Inputs_User_Email article > span:hover {
  transition: all 250ms;
  background: rgb(50, 49, 49);
  transform: scale(1.03);
}

.SignUp_Inputs {
  width: 100%;
  height: 16%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

.SignUp_Inputs span {
  font-size: 14px;
  color: #fff;
}

.SignUp_Inputs input {
  width: 100%;
  padding: 10px 7px;
  /* font-size: 0.7rem; */
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding-inline: 10px;
  background: transparent;
  border-radius: 3px;
  color: #fff;
  margin-top: 3px;
}

.SignUp_Inputs select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  padding-inline: 10px;
  background: #0d0b32;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.SignUp_Inputs input:placeholder-shown {
  color: rgba(0, 0, 0, 0);
  font-size: 13px;
}

.SignUp_Inputs input:focus {
  border: 1px solid #fff;
}

.SignUp_Buttons {
  width: 80%;
  /* height: 11%; */
  display: flex;
  gap: 2px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.SignUp_Buttons button {
  width: 100%;
  /* height: 80%; */
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  /* background: purple; */
  background: rgb(1, 1, 49);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 01rem 1rem;
  margin-bottom: 20px;
}

.SignUp_Buttons button:hover {
  transition: all 250ms;
  background: rgb(118, 78, 2);
}

.Login_Route {
  font-size: 12px;
  font-weight: bold;
}

#special-input {
  padding-left: 15%;
  /* padding-bottom: 4%; */
}

.Country_Code {
  position: absolute;
  top: 30%;
  left: 0.1%;
  font-size: 14px;
  background-color: #c48140;
  transform: translate(0px, 11%);
  width: 11%;
  height: 63%;
  padding: 5px;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
