@media screen and (max-width: 768px) {
  /* .hero-supposed-container {
    flex-wrap: wrap;
    padding: 3rem 3%;
  } */
  .supposed-img-container {
    max-width: 40rem;
  }

  .counter-container {
    justify-content: center;
  }

  .hero_container {
    padding: 7rem 10px;
  }

  .count-up-container {
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .hero_writeup_img {
    max-height: 100rem;
    width: 10rem;
    /* display: none; */
  }

  .hero_container > button {
    width: 70%;
  }

  .section2-image-container {
    width: 100%;
  }

  .basics_of_investing_body {
    padding: 1rem 10px;
  }

  .basics_of_investing_container {
    padding: 3rem 10px;
  }

  .basics_of_investing_container_top {
    flex-direction: column;
  }

  .basics_of_investing_container_top_text > h1 {
    font-size: 1.8rem;
    line-height: 38px;
  }
  .basics_of_investing_container_top_text > p {
    line-height: 28px;
  }

  .basics_of_investing_container_bottom {
    flex-direction: column;
    gap: 40px;
  }

  .basics_of_investing_card_container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .section2-Home {
    /* background-color: blue; */
    gap: 5px;
    /* margin-top: 700px; */
  }
  .section2-Home-MainContainer {
    flex-direction: column;
    /* background-color: red; */
    padding-top: 20px;
  }
  .section2-Home-Header {
    text-align: center;
    line-height: 50px;
  }
  .section2-txt-container {
    width: 100%;
    height: 70%;
    /* background-color: brown; */
  }

  .section2-txt-container p {
    text-align: center;
  }

  .section3-Home {
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    padding: 0px 20px 30px 20px;
  }
  .section3-Home-Header {
    width: 90%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }
  .section3-Home-Header h4 {
    font-size: 15px !important;
  }
  .section3-Home-Header h1 {
    font-size: 20px !important;
  }
  .section3-Home-mainContainer {
    width: 80%;
    height: auto;
    /* background-color: blue; */
    margin-top: 10px;
    gap: 20px;
  }

  .section4_Home {
    margin-top: 50px;
    padding: 10px;
    /* background-color: red; */
    flex-direction: column-reverse;
    gap: 20px;
  }
  .section4-Home-MainContainer {
    width: 100%;
    height: auto;
    /* background-color: green; */
    text-align: center;
    margin-bottom: 20px;
  }

  .section4-Home-MainContainer h1 {
    font-size: 1.5rem !important;
  }
  .section4-Home-MainContainer p {
    padding-top: 1rem;
    font-size: 15px !important;
  }
  .section4-Home-button {
    width: 100%;
    padding-top: 2rem;
    /* background-color: orange; */
  }

  .section4-Home-button button {
    padding-inline: 4rem;
    padding-block: 1.2rem;
  }

  .section4-home-imgContainer {
    width: 100%;
    height: 300px;
    /* background-color: antiquewhite; */
  }

  .section4-home-imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .section5-Home {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    /* background-color: yellow; */
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .section5-Home-logoContainer {
    width: 100%;
    height: auto;
    /* background-color: red; */
    justify-content: start;
    gap: 20px;
  }
  .section5-Home-logoContainer-title {
    /* background-color: blue; */
    font-size: 25px;
    text-align: center;
    line-height: 40px;
  }
  .section5-home-logo-icons {
    margin-top: 10px;
    /* background-color: #07122D; */
  }
  .section5-Home-textHolder {
    width: 100%;
    gap: 10px;
    /* background-color: green; */
    text-align: center;
  }
}

@media screen and (max-width: 585px) {
  .section2-Home {
    height: 1000px;
    /* background-color: blue; */
    gap: 5px;
    /* margin-top: 700px; */
    padding-top: 20px;
  }
  .section2-Home-MainContainer {
    height: 90%;
    flex-direction: column;
    /* background-color: red; */
    padding-top: 20px;
  }
  .section2-txt-container {
    width: 100%;
    height: 80% !important;
    /* background-color: brown; */
    gap: 2px;
    padding: 10px;
  }
  .section2-txt-container p {
    font-size: 10px;
    line-height: 25px;
  }
}

@media screen and (max-width: 330px) {
  .section3-Home {
    margin-top: 150px;
  }
  .section3-Home-mainContainer {
    width: 100%;
    height: auto;
    gap: 30px;
  }
}
