.dialog{
    padding: 40px 80px 40px 80px;
    background-color: black;
    left: 40%;
    margin-top: 40px;
    border-radius: 10px;
    color: white;
}

.dialog > h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.dialog > h3 > span{
    color: rgb(79, 79, 242);
}
.dialog > p {
    margin-top: 10px;
    font-size: 20px;
}
.dialog > p > span{
    color: rgb(79, 79, 242);
}

.dialog_btn{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}
.cancel{
    padding: 5px 30px 5px 30px;
    background-color: rgb(79, 79, 242);
    font-size: 20px;
}




@media screen and (max-width: 900px){

    .dialog{
        padding: 20px 30px 20px 30px;
        left: 20px;
        margin-top: 70px;
        border-radius: 10px;
    }
    
    .dialog > h3{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .dialog > p {
        margin-top: 20px;
        font-size: 20px;
    }

}



@media screen and (max-width: 380px){

    .dialog{
        padding: 20px 25px 20px 25px;
        left: 20px;
        margin-top: 40px;
        border-radius: 10px;
    }
    
    .dialog > h3{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .dialog > p {
        margin-top: 15px;
        font-size: 18px;
    }
}


@media screen and (max-width: 330px){

    .dialog{
        padding: 20px 20px 20px 20px;
        left: 10px;
        margin-top: 15px;
    }
    
    .dialog > h3{
        font-size: 19px;
        margin-bottom: 12px;
    }
    .dialog > p {
        margin-top: 12px;
        font-size: 17px;
    }
}