.footer-section {
  background-color: rgba(0, 0, 0, 0.974);
  color: whitesmoke;
  padding: 2rem 4rem;
}

.footer-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.needfree-contact-support {
  font-size: 0.8rem;
  color: whitesmoke;
  transition: none;
}

.needfree-contact-support:hover {
  text-decoration: none;
}

.footer-h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.footer-letter-spacing {
  line-height: 1.5;
}

.footer-message {
  display: flex;
  margin-top: 1rem;
  gap: 0.3rem;
  align-items: center;
}

.needfree {
  text-transform: uppercase;
}

.footer-information {
  display: flex;
  flex-direction: column;
  padding: 0 -2rem;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer-links {
  text-transform: capitalize;
  cursor: pointer;
}

.footer-link {
  text-decoration: none;
  color: whitesmoke;
}

.footer-link:hover {
  color: gold;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0 1rem;
  border: none;
  border-top: 0.1px solid #222;
}

.footer-form-input {
  padding: 0.3rem;
  font-size: 0.81rem;
  max-width: 99%;
}

.footer-form-btn {
  display: block;
  margin-top: 0.5rem;
  padding: 0.3rem 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: allx;
}

.footer-form-btn:hover {
  transform: scale(1.05);
  /* animation: 5s; */
}

.footer-contact-details {
  display: flex;
  gap: 10px;
}

.footer-contact-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}




@media screen and (max-width: 800px){
  .footer-h3{
    text-align: center;
  }
  .footer-letter-spacing{
    text-align: center;
  }
  .footer-message{
    justify-content: center;
  }
  .footer-information{
    justify-content: center;
    text-align: center;
  }
  .footer-list{
    justify-content: center;
    text-align: center;
  }
  .footer-links{
    justify-content: center;
    text-align: center;
  }
  .footer-link{
    text-align: center;
  }
  .footer-contact-container{
    justify-content: center;
    text-align: center;
    /* background-color: green; */
  }
  .footer-contact-details{
    text-align: center;
    /* background-color: brown; */
  }

  .footer-form{
    width: 100%;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}