.forget-password-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 
    linear-gradient(to left, rgba(0, 0, 0, 0.903), rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.707)), 
    url('../../assets/starbg.jpeg');
}

.forget-password-main-body {
  width: 44%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border: 0.01px solid rgb(226, 5, 5); */
}

.forget-password-main-body p {
  font-size: 14px;
}

.forget-password-main-body img {
  width: 40%;
  /* height: 18%; */
}

.forget-password-h1 {
  font-size: 2.2rem;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  margin-top: -4rem;
}

.forget-password-p {
  height: 10%;
  width: 85%;
  font-size: 12px;
  color: whitesmoke;
}

.forget-password-input {
  width: 70%;
  height: 50px;
  background-color: transparent;
  padding-left: 4%;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(221, 215, 215);
  color: whitesmoke;
}

.forget-password-input:focus {
  border: 1px solid gold;
}

.forget-password-submit-btn {
  width: 70%;
  height: 50px;
  cursor: pointer;
  border: none;
  background: rgb(1, 1, 69);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}
.forget-password-submit-btn:active{
  background-color: rgb(164, 141, 10);
}

.forget-password-back-to-login {
  width: 85%;
  height: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: gold;
}
