@media only screen  and (max-width: 580px){

    .forget-password-main-body{
        width: 90% !important;
        min-height: 60% ;
        justify-content: space-evenly;
    }

    .forget-password-main-body img{
        width: 50%;
        height: 26% ;
    }
    
    .forget-password-h1{
        font-size: 15px;
    }

    .forget-password-p{
        height: 15% ;
        width: 85%;
        font-size: 12px;
    }

    .forget-password-input{
        width: 87%;
        height: 10% ;
        padding-left: 2%;
    }

    .forget-password-submit-btn{
        width: 87%;
        height: 10%;
    }
    .forget-password-back-to-login{
        width: 90% ;
    }
    
    
}



@media only screen  and (max-width: 1024px){

    .forget-password-main-body{
        width: 50%;
        height: 65%;
    }


    
}
